@font-face {
  font-family: "UTM-HelvetIns";
  src: url("../assets/fonts/UTM-HelvetIns.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "ChakraPetch";
  src: url("../assets/fonts/ChakraPetch-Bold.ttf") format("truetype");
  font-style: normal;
}