@font-face {
  font-family: "UTM-HelvetIns";
  src: url("../assets/fonts/UTM-HelvetIns.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "ChakraPetch";
  src: url("../assets/fonts/ChakraPetch-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Averta-Std-CY";
  src: url("../assets/fonts/Averta-Std-CY.otf") format("truetype");
  font-style: normal;
}