@font-face {
  font-family: "SVN-ProductSansBold";
  src: url("../assets/fonts/SVN-ProductSansBold.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-style: normal;
}