body{
    background-color: rgba(94,153,223,255);
}


.layout {
  width: 100%;
  display: grid;
  grid:
    "sidebar body" 1fr
    / 30% 70%;
  gap: 8px;
}

.sidebar, .body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background-color: white;
  border-radius: 5px;
  opacity: 0.8;
  font-family: Quicksand;
}

.sidebar { 
    grid-area: sidebar; 
}

.body { 
    grid-area: body; 
}