body {
  margin: 0;
  height: 100vh;
  /* background-image: url("assets/image/1079931_ONGXWJ0.jpg"); */
  background-color: rgba(167, 228, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nhap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 15px;
  padding: 15px 15px;
  background-color: white;
  border-radius: 20px;
  flex-direction: column;
  /* max-width: auto; */
  opacity: 90%;
  max-width: auto;
  min-width: 300px;
}

#NhapLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Quicksand;
  font-size: 20px;
  color: red;
}

.NhapDuLieu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* dọc mặc định (cho màn hình dọc) */
  gap: 15px;
  padding: 10px;
}

.cotTrai,
.cotPhai {
  flex: 1;
}

@media (min-aspect-ratio: 4/3) {
  /* Khi xoay ngang (aspect ratio rộng hơn), chia thành 2 cột */
  .NhapDuLieu {
    flex-direction: row;
    gap: 30px;
  }
}

.NutBam {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  border-radius: 5px;
  background-color: white;
  border-radius: 20px;
  max-width: auto;
}

.NutBam button {
  margin: 15px;
  gap: 10px;
  font-size: 15pt;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  transition: none;
  border: none;
  cursor: pointer;
  width: 160px;
  height: 40px;
}

.NutBam button:hover {
  /* chỉ áp dụng cho nút, k áp dụng cho dòng chữ BẢNG ĐIỀU KHIỂN*/
  box-shadow: 0 4px #ab3c3c;
  border-radius: 5px;
  top: 2px;
}

.BangDieuKhien button:active {
  background: 0 0 #3c5cab;
  box-shadow: 0 4px #849ed4;
  border-radius: 5px;
  top: 6px;
}

.InputLabel {
  width: max-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgba(126, 208, 172, 255);
  text-transform: uppercase;
}

input[type="text"] {
  width: 200px;
  border: none;
  border-bottom: 2px solid rgba(126, 208, 172, 255);
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}

#canhBao {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: red;
  text-transform: uppercase;
}
