body {
  margin: 0;
  height: 100vh;
  background-color: rgba(167, 228, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
  min-width: 350px;
  display: block;
  justify-content: center;
}

.LED {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin: 15px 15px;
  font-family: UTM-Neutra;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  background-color: black;
  height: 100px;
  flex-wrap: nowrap;
  border-radius: 20px;
  max-width: auto;
  overflow: hidden;
}

.BangDieuKhien {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 15px;
  background-color: white;
  border-radius: 20px;
  flex-direction: column;
  /* max-width: auto; */
  opacity: 90%;
  max-width: auto;
}

#BangDieuKhienLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: UTM-HelvetIns;
  font-size: 20px;
  color: red;
}

.NutBam {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  border-radius: 5px;
  background-color: white;
  border-radius: 20px;
  max-width: auto;
}

.NutBam button {
  margin: 15px;
  gap: 10px;
  font-size: 15pt;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  transition: none;
  border: none;
  cursor: pointer;
  width: 120px;
  height: 60px;
}

.NutBam .ChayLed {
  background: rgba(126, 208, 172, 255);
  box-shadow: 0 6px rgba(110, 177, 146, 255);
}

.BangDieuKhien .ChayLed:hover {
  box-shadow: 0 4px rgba(110, 177, 146, 255);
  border-radius: 5px;
  top: 2px;
}

.BangDieuKhien button:hover {
  /* chỉ áp dụng cho nút, k áp dụng cho dòng chữ BẢNG ĐIỀU KHIỂN*/
  box-shadow: 0 4px #ab3c3c;
  border-radius: 5px;
  top: 2px;
}

.BangDieuKhien button:active {
  background: 0 0 #3c5cab;
  box-shadow: 0 4px #849ed4;
  border-radius: 5px;
  top: 6px;
}

#ModeDangChay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: UTM-HelvetIns;
  font-size: 20px;
  color: red;
}

#maTuyen {
  flex: 0.5; /*0.5 phần*/
  display: flex;
  position: relative;
  color: red;
  border: 2px;
  font-family: SVN-ProductSansBold;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 65pt;
  margin-right: 20px;
  letter-spacing: 4px;
  transform: scale(1, 1);
  position: relative;
  text-transform: uppercase;
  flex-shrink: 0;
  background-color: black;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.luongTuyen {
  flex: 7.5;
  display: inline-block;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  text-align: center;
  min-width: 0;
  white-space: nowrap;
  text-transform: uppercase;
  will-change: transform;
}

.luongTuyen_Parent {
  flex: 7.5;
  overflow: hidden;
}

/* phục vụ chạy chữ */
#route-info {
  white-space: nowrap;
  display: inline-block;
}

#route-info.marquee {
  animation: marquee 12s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#diemDau {
  display: flex;
  color: rgb(17, 205, 142);
  font-size: 40pt;
  max-width: auto;
  letter-spacing: 2.5px;
}

#arrow {
  display: flex;
  justify-content: center;
  max-width: 55px;
  max-height: 55px;
}

#diemCuoi {
  display: flex;
  color: rgb(17, 205, 142);
  font-size: 40pt;
  max-width: auto;
  letter-spacing: 2.5px;
}

#xiNghiep {
  text-align: center;
  align-items: center;
  position: relative;
  color: rgb(17, 205, 142);
  font-size: 40pt;
  max-width: auto;
  letter-spacing: 2.5px;
  flex: 7.5; /* 6 phần */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  text-align: center;
  min-width: 0;
  white-space: nowrap;
  text-transform: uppercase;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

#hanoibus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 7.5;
  max-width: 100%;
  height: auto;
  max-height: 60px;
  display: none;
  object-fit: contain;
  min-width: 0;
  white-space: nowrap;
}

#transerco {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 7.5;
  max-width: 150%;
  height: auto;
  max-height: 60px;
  display: none;
  object-fit: contain;
  min-width: 0;
  white-space: nowrap;
}

#MaTuyenCanGiua {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: red;
  border: 2px;
  font-family: SVN-ProductSansBold;
  font-size: 65pt;
  letter-spacing: 4px;
  transform: scale(1, 1);
  text-transform: uppercase;
}

#HuyDongRaTuyen {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: UTM-HelvetINS; */
  color: rgb(17, 205, 142);
  font-size: 40pt;
  max-width: auto;
  letter-spacing: 2.5px;
}

#XeVeGara {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: UTM-HelvetINS; */
  color: rgb(17, 205, 142);
  font-size: 40pt;
  max-width: auto;
  letter-spacing: 2.5px;
}

footer {
  display: block;
  position: fixed;
  justify-content: center;
  text-align: center;
}

.UngDungHoTroTotNhat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 15px;
  background-color: white;
  border-radius: 20px;
  max-width: auto;
  opacity: 90%;
}

#UngDungHoTroTotNhat {
  font-family: UTM-HelvetIns;
  font-size: 20px;
  margin-right: 15px;
  margin-left: 15px;
  color: red;
  text-align: center;
}

#logobus {
  max-width: auto;
  max-height: 50px;
  zoom: 80%;
  margin: 5px 5px 5px 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
