#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 9999;
}

.toast {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
    font-family: Averta-Std-CY;
    font-weight: 500;
    min-width: 300px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    animation: slideIn 0.4s ease forwards;
}

/* Màu sắc từng loại */
.success { background-color: rgba(66, 113, 163); }
.error   { background-color: #eb4d4b; }

/* Icon style */
.toast i {
    margin-right: 15px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hiệu ứng trượt từ phải sang */
@keyframes slideIn {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}
