.LED {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: auto;
  font-family: SVN-Big-Noodle-Titling;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  background-color: black;
  height: 100px;
  border-radius: 20px;
  max-width: 1700px;
}

.BangDieuKhien {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background-color: white;
  border-radius: 20px;
  max-width: auto;
}

.NutBam {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-radius: 5px;

  background-color: white;
  border-radius: 20px;
  max-width: auto;
}

.NutBam p {
  display: block;
}
.NutBam button {
  margin: 15px;
  gap: 10px;
  font-size: 15pt;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  transition: none;
  border: none;
  cursor: pointer;
  width: 85px;
  height: 100px;
}

.BangDieuKhien button:hover {
  box-shadow: 0 4px #ab3c3c;
  border-radius: 5px;
  top: 2px;
}

.BangDieuKhien button:active {
  box-shadow: 0 0 #ab3c3c;
  border-radius: 5px;
  top: 6px;
}

#maTuyen {
  flex: 0.5;
  display: flex;
  position: relative;
  color: red;
  border: 2px;
  font-family: SVN-Agency-FB;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 65pt;
  letter-spacing: 5px;
  transform: scale(1, 1);
  position: relative;
}

.luongTuyen {
  flex: 7.5; /* 6 phần */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  text-align: center;
}

#diemDau {
  display: flex;
  color: rgb(17, 205, 142);
  font-size: 40pt;
  max-width: auto;
  letter-spacing: 2.5px;
}

#arrow {
  display: flex;
  max-width: 75px;
  max-height: 75px;
}

#diemCuoi {
  display: flex;
  color: rgb(17, 205, 142);
  font-size: 40pt;
  max-width: auto;
  letter-spacing: 2.5px;
}

#xiNghiep {
  flex: 7.5;
  text-align: center;
  align-items: center;
  position: relative;
  color: rgb(17, 205, 142);
  font-size: 40pt;
  max-width: auto;
  letter-spacing: 2.5px;
  flex: 7.5; /* 6 phần */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  text-align: center;
}

#hanoibus {
  display: flex;
  flex: 6;
  max-width: 100%;
  height: auto;
  max-height: 60px;
  display: none;
  object-fit: contain;
}

#transerco {
  display: flex;
  flex: 6;
  max-width: 100%;
  height: auto;
  max-height: 60px;
  display: none;
  object-fit: contain;
}

#MaTuyenCanGiua {
  display: flex;
  justify-content: center;
  align-items: center;
  color: RED;
  font-family: UTM-HelvetINS;
  letter-spacing: 2px;
  transform: scale(1.5, 1);
  /* margin-top: 5%; */
  font-size: 65pt;
  max-width: auto;
}

#HuyDongRaTuyen {
  display: flex;
  justify-content: center;
  align-items: center;
  color: RED;
  font-size: 40pt;
  max-width: auto;
  letter-spacing: 2.5px;
}

#XeVeGara {
  display: flex;
  justify-content: center;
  align-items: center;
  color: RED;
  font-size: 40pt;
  max-width: auto;
  letter-spacing: 2.5px;
}

footer {
  display: block;
  position: fixed;
  justify-content: center;
  text-align: center;
}

p.quote {
  display: flex;

  font-family: UTM-HelvetIns;
  color: red;
}

body {
  background-image: url("assets/image/34.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
}

@font-face {
  font-family: "SVN-Agency-FB";
  src: url("assets/fonts/SVN-Agency-FB-bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "UTM-HelvetIns";
  src: url("assets/fonts/00119-UTM-HelvetIns.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "TT-Commons-Pro";
  src: url("assets/fonts/TT_Commons_Pro_Trial_Compact_DemiBold.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "SVN-Big-Noodle-Titling";
  src: url("assets/fonts/SVN-Big-Noodle-Titling.otf") format("truetype");
  font-style: normal;
}
